{require_otp_vsn, "R13B04|R14|R15"}.


{deps,
    [
        {piqi_src, "", {git, "https://github.com/alavrik/piqi.git", {branch, "dev"}}}
    ]}.


{erl_opts, [{d, 'PIQI_CROSS_PLATFORM'}]}.


{edoc_opts, [{preprocess, true}, {includes, ["."]} ]}.


% reset rebar's default C compilation and linkings settings as they don't work
% correctly for OCaml programs (e.g. on Mac v10.6.0), which are compiled as
% 64-bit by default and link with 64-bit OCaml libraries
{port_envs, [{"CFLAGS", ""}, {"LDFLAGS", ""}]}.


{pre_hooks, [
        {compile, "make/pre-hooks-compile"},
        {compile, "make PIQI_APP_DIR=`pwd` -C src -f Makefile.piqi"}
    ]}.


{post_hooks, [
        {clean, "make -C src -f Makefile.piqi clean"},

        {'get-deps', "make/post-hooks-get-deps"},
        {'get-deps', "ln -s . piqi"},

        {'delete-deps', "rm -f src include piqi"},
        {'delete-deps', "ln -s fake_src src"}
    ]}.


% vim:ft=erlang
