% XXX
%{erl_opts, [{d, 'PIQI_CROSS_PLATFORM'}]}.


% we need to compile piqic-erlang first, because it is used in the pre-compile
% step below
{sub_dirs, ["piqic-erlang"]}.


% tolerate edoc quirks by #ifndef-ing several adjacent -spec
{edoc_opts, [{preprocess, true}, {macros, [{'EDOC', 1}]}]}.


{pre_hooks, [
    {compile, "make -C src -f Makefile.piqi"}
]}.


{post_hooks, [
    {clean, "make -C src -f Makefile.piqi clean"}
]}.


% ex: ft=erlang
