
% we need to compile piqic-erlang first, because it is used in the pre-compile
% step below
{sub_dirs, ["piqic-erlang"]}.


% TODO, XXX: download a tag-based archive instead of cloning the whole git
% repository
{deps, [
    % "piqi" binary executables pre-built for various platforms
    {piqi_binary, "", {git, "git://github.com/alavrik/piqi-binary.git", {tag, "v0.6.2"}}, [raw]}
]}.


% tolerate edoc quirks by #ifndef-ing several adjacent -spec
{edoc_opts, [{preprocess, true}, {macros, [{'EDOC', 1}]}]}.


{pre_hooks, [
    {compile, "make -C src -f Makefile.piqi"}
]}.


{post_hooks, [
    {clean, "make -C src -f Makefile.piqi clean"},

    {'get-deps', "./get-piqi-binary"},
    {'delete-deps', "rm -rf priv/piqi-binary"}
]}.


% ex: ft=erlang
