% we need this to be able to -include_lib("piqi/include/piqirun.hrl") from
% src/piqi_piqi.erl
{lib_dirs, ["."]}.

{erl_opts, [nowarn_export_all]}.

% these options are used by "rebar escriptize"
{escript_name, "piqic-erlang"}.
{escript_emu_args, "%%! -escript main piqic_erlang\n"}.


% ex: ft=erlang
