
{deps, [
    % uncomment for actual use -- we don't need it for tests inside the
    % piqi-erlang project itself
    %
    %{piqi, "", {git, "git://github.com/alavrik/piqi-erlang.git", {branch, "master"}}}
]}.


{pre_hooks, [
    {compile, "make -C src piqi"}
]}.


{post_hooks, [
    {clean, "make -C src piqi-clean"}
]}.


% ex: ft=erlang
